<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container">
        <div class="row">
            <!-- <div class="col-sm-4 col-lg-offset-2 text-center"></div> -->
                <div class="col-lg-4 col-lg-offset-4 text-center">
{% from "custom_macros.html" import render_field_with_bootstrap_errors %}
{% include "security/_messages.html" %}
<h3>Change password</h3>
<br>
<form action='{{ url_for_security("change_password") }}' method="POST" name="change_password_form">
  {{ change_password_form.hidden_tag() }}
  {{ render_field_with_bootstrap_errors(change_password_form.password, class="form-control", placeholder="OLD password") }}
  {{ render_field_with_bootstrap_errors(change_password_form.new_password,  class="form-control", placeholder="NEW password") }}
  {{ render_field_with_bootstrap_errors(change_password_form.new_password_confirm,  class="form-control", placeholder="RE-TYPE new password") }}
    <button type="submit" class="btn btn-sm btn-primary" value="save">Change password</button>
  {# {{ render_field(change_password_form.submit) }} #}
</form>
            </div>
    </div>
</div>
{% endblock %}
