<!-- extend base layout -->
{% extends "landing.html" %}
{% block content %}

{# {% include "security/social.html" %} #}

<div class="container">
        <div class="row">
                <div class="col-lg-4 col-lg-offset-4 text-center">
                    <h3> Register with email and password </h3>
{% from "custom_macros.html" import render_field_with_bootstrap_errors %}
{% include "security/_messages.html" %}
<form action='{{ url_for_security("register",next="register")+"#login" }}' method="POST" name="register_user_form">
  {{ register_user_form.hidden_tag() }}
    <div class="form-group">
        {{ render_field_with_bootstrap_errors(register_user_form.email,maxlength="140", class="form-control", placeholder="Email") }}
    </div>
    <div class="form-group">
        {{ render_field_with_bootstrap_errors(register_user_form.password, maxlength="32", class="form-control", placeholder="Password") }}
        
    </div>
    <div class="form-group">
  {% if register_user_form.password_confirm %}
    {{ render_field_with_bootstrap_errors(register_user_form.password_confirm, maxlength="32", class="form-control", placeholder="Retype password") }}
  {% endif %}
    </div>
    
    <button type="submit" class="btn btn-sm btn-primary" value="save">Register</button>
    {% include "accept_tos.html" %}
  {# {{ render_field(register_user_form.submit) }} #}
</form>
<br>

    <h3><a href="{{ url_for_security('login') }}#login">Login using email &amp; password</a></h3>
<!-- <a href='login'>Login using email and password</a> -->
{# <a href="{{ url_for_security('login') }}#login">Login using social media or email &amp; password</a> #}
            </div>
    </div>
    <div class="divider-5"></div>
</div>


{% endblock %}
