{% extends "anon_base.html" %}
{% block content %}

<div class="divider-5"></div>
<div class="container">
        <div class="row">
            <!-- <div class="col-sm-4 col-lg-offset-2 text-center"></div> -->
                <div class="col-lg-4 col-lg-offset-4 text-center">
{% from "custom_macros.html" import render_field_with_bootstrap_errors %}
<h2 class="section-heading">Resend confirmation instructions</h2>
<form action="{{ url_for_security('send_confirmation') }}" method="POST" name="send_confirmation_form">
  {{ send_confirmation_form.hidden_tag() }}
    {{ render_field_with_bootstrap_errors(send_confirmation_form.email, class="form-control", placeholder="Email address") }}
  <button type="submit" class="btn btn-sm btn-primary" value="save">Email reset link</button>
</form>

<div class="divider-10"></div>
<div class="divider-5"></div>
            </div>
    </div>
</div>

{% endblock %}
