    <div id="all_meetings" class="tab-pane fade">
              <table class="table table-hover">
                <thead>
                    <form action='/index_change' method="post" id = "form-sort-1"  name="post">
                        <input type="hidden" name="sorting_id" value=1>
                    </form>
                    <form action='/index_change' method="post" id = "form-sort-2"  name="post">
                        <input type="hidden" name="sorting_id" value=2>
                    </form>
                    <form action='/index_change' method="post" id = "form-sort-3"  name="post">
                        <input type="hidden" name="sorting_id" value="3">
                    </form>
                    <form action='/index_change' method="post" id = "form-sort-4"  name="post">
                        <input type="hidden" name="sorting_id" value="4">
                    </form>
                    <form action='/index_change' method="post" id = "form-sort-5"  name="post">
                        <input type="hidden" name="sorting_id" value="5">
                    </form>
                    <form action='/index_change' method="post" id = "form-sort-6"  name="post">
                        <input type="hidden" name="sorting_id" value="6">
                    </form>
                    
                    
                    <td>Created on  <a href="#" onclick="document.getElementById('form-sort-1').submit()"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></a>   <a href="#" onclick="document.getElementById('form-sort-2').submit()"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></a></td>
                    <td>Course <a href="#" onclick="document.getElementById('form-sort-3').submit()"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></a>  <a href="#" onclick="document.getElementById('form-sort-4').submit()"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></a></td>
                    <td># of feedback <a href="#" onclick="document.getElementById('form-sort-5').submit()"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></a>  <a href="#" onclick="document.getElementById('form-sort-6').submit()"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></a></td>
                    
                    
                </thead>
              {% for meeting in sorted_meetings %}
                <tr>
                      <td>{{ meeting.timestamp.strftime('%d %b %Y') }}</td>
                      <td>{{ meeting.course.title }}</td>
                      <td>{{ meeting.muddies.count() }}</td>
                </tr>
              {% endfor %}
              </table>
          </div>