{% for course in courses.items %}
    <div id="id-{{ course.id }}" class="panel-collapse collapse">
   </div>
{% endfor %}

{% for course in courses.items %}
    <div id="id-{{ course.id }}" class="panel-collapse collapse">
        {% if course.meetings.count() > 0 %}
        <h5> Meeting(s) for the course <span class="label label-warning">{{ course.title }}</span></h5>
        {% else %}
        <h5> There are no meetings for the course <span class="label label-warning">{{ course.title }}</span></h5>
        Create a
                    {% if g.user.is_authenticated %}
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#new-meeting-entry">New meeting</button>
                    {% with var_post="new" %}
                    {% include 'meeting_action_edit.html' %}
                    {% endwith %}
                    {% endif %}
        {% endif %}
        {% include "meeting_view.html" %}
    </div>
{% endfor %}
