                    {#
                    <td>Form</td> 
                    
                    <td>Created on  <a href="#" onclick="document.getElementById('form-sort-1').submit()"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></a>   <a href="#" onclick="document.getElementById('form-sort-2').submit()"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></a></td>
                    
                    <td>Folder <a href="#" onclick="document.getElementById('form-sort-3').submit()"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></a>  <a href="#" onclick="document.getElementById('form-sort-4').submit()"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></a></td>
                    <td># of feedback <a href="#" onclick="document.getElementById('form-sort-5').submit()"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></a>  <a href="#" onclick="document.getElementById('form-sort-6').submit()"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></a></td>
                    <td>Options</td>
                    
                    #}


<div class="col-md-3 col-sm-4 col-xs-6">
            {% for meeting in meetings_var %}
                    <div class="panel-custom">
                        <b>{{ meeting.title }}</b>, {{ meeting.course.title }}
                        <button class="btn btn-default btn-sm" aria-label="comments-pane" data-toggle="collapse" data-target="#pane-{{ meeting.course_id }}-{{ meeting.id }}">
                         <i class="fa fa-external-link fa-2x" aria-hidden="true"></i>
                        </button>
                        <br><span>{% include "meeting_options.html" %}</span>
                        <span>{{ meeting.timestamp.strftime('%d %b %Y') }}</span>
                    </div>
            {% endfor %}
</div>
    
<div class="col-md-9 col-sm-8 col-xs-6">
    <div id="formGroup">
        {% for meeting in meetings_var %}
                <div id="pane-{{ meeting.course_id }}-{{ meeting.id }}" class="collapse indent">
                    <p>All feedback from <b>{{ meeting.title }}</b> from <b>{{ meeting.course.title }}</b></p>
                    {% for muddy in meeting.muddies %}
                    
                    <div class="panel-custom">
                        {{ muddy.body }}<br>
                        <span>{{ muddy.like_count }} <i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        {% with var = muddy %}
                        <button class="btn btn-default" aria-label="delete-muddy-modal" data-toggle="modal" data-target="#delete-muddy-modal-{{ muddy.id }}">
                            <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                        </button>
                        {% include 'delete_muddy_modal.html' %}
                        {% endwith %}

                    </div>
                    {% endfor %}
                </div>
        {% endfor %}
        </div>
</div>
<script>
    var $formGroup = $('#formGroup');
    $formGroup.on('show.bs.collapse','.collapse', function() {
        $formGroup.find('.collapse.in').collapse('hide');
    });
</script>