<!-- extend base layout -->
{% extends "anon_base.html" %}

{% block content %}
{#
<h4>Muddies for {{ meeting.title }}:</h4>
{% for item in muddies %}
    {{ item.like_count }}: {{ item.body }}
{% endfor %}

<div class="form-group">
<form action='/muddies' method="post" name="post" >
            {{ g.muddy_form.body(id="entry-title", maxlength="140", class="form-control", placeholder="Your muddy?") }}
    <button type="submit" class="btn btn-primary" value="save">Submit</button>
    {{ g.muddy_form.hidden_tag() }}
</form>
</div>
#}

{% endblock %}
