<!-- <div class="dropdown"> -->
                {# {% with var = course %} #}
                <button class="btn btn-xs btn-default dropdown-toggle" aria-label="options-dd" data-toggle="dropdown" id="#folder-dropdown-{{ var.id }}"  aria-haspopup="true">
                    <i class="fa fa-folder-o" aria-hidden="true"></i><span style="padding-left:5px"></span><i class="fa fa-ellipsis-v" aria-hidden="true"><span style="padding-left:5px"></span><span class="caret"></span></i>
                        <!-- <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> -->
                </button>
    <ul class="dropdown-menu" aria-labelledby="folder-dropdown-{{ var.id }}">
    <li>
                <a href="#" onclick="document.getElementById('form-download-course-{{ var.id }}').submit()"> Download folder details </a>
                <form action='/dl_csv_course' method="post" id = "form-download-course-{{ var.id }}" name="post">
                {{ g.course_form.id(type = 'hidden', value=var.id) }}
                </form>
    </li>
    <li>
                <form action='/send_course_view' method="post" id = "form-email-course-{{ var.id }}" name="post">
                {{ g.course_form.id(type = 'hidden', value=var.id) }}
                </form>
                <a  href="#" onclick="document.getElementById('form-email-course-{{ var.id }}').submit()">   Email folder details</a>
    </li>
    
            <form action='/course_archive' method="post" id = "form-archive-course-{{ var.id }}" name="post">
                {{ g.course_form.id(type = 'hidden', value=var.id) }}
            </form>
                    {% if var.title != "Uncategorized"%}
        <li>
                        {% if var.live_stat == True %}
                        <a  href="#" onclick="document.getElementById('form-archive-course-{{ var.id }}').submit()"> Archive folder </a>
                        {% else %}
                        <a  href="#" onclick="document.getElementById('form-archive-course-{{ var.id }}').submit()"> Un-archive folder </a>
                        {% endif %}
        </li>
                    {% else %}
        <li class="disabled"><a href="#">Archive folder</a></li>
                    {% endif %}
            

            {% if var.title != "Uncategorized"%}
                <li><a  href="#" onclick="document.getElementById('').submit()">View/edit folder info</a></li>
            {% else %}
                <li class="disabled"><a href="#">View/edit folder info</a>    </li>
            {% endif %}

    {# <li>
        <a href="/index#new_meeting_link">Create a new meeting</a>
    </li> #}
        {#    {% endwith %} #}
    <li role="separator" class="divider"></li>
    
        {% if var.title != "Uncategorized" %}
        <li>       <a href="#delete-modal-{{ var.id }}"  aria-label="delete-modal" data-toggle="modal"> Delete folder</a></li>
        {% else %}
        <li class="disabled">    <a href="#">Delete folder</a></li>
        {% endif %}
  </ul>
            {% include 'delete_modal.html' %}   
            {#    {% endwith %} #}
<!-- </div> -->
