<!--<button type="button" class="btn btn-sm btn-primary navbar-btn" data-toggle="modal" data-target="#new-entry">New!</button> -->
<div class="modal fade" id="delete-muddy-modal-{{ var.id }}" tabindex="-1" role="dialog" aria-labelledby="delete-muddy-modal"> 
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p class="modal-title" id="delete-muddy-modal">Delete feedback?
          <h4 class="sub title">This action cannot be undone</h4>
      </div>
        
      <div class="modal-footer">
        <div class="row-fluid">
            <div class="col-sm-12">
                <div class="checkbox">
                    <form action='/feedback_delete' method="post" name="post">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" name = "muddy_id" class="btn btn-primary" value="{{ var.id }}"> Delete</button>
                    </form>
                </div>
            </div>
        </div>
        
      </div>
        </div>      
      </div>
</div>


