<p>Dear {{ reguser.email }},</p>

This is an email containing the form <b>{{ meeting.title }}</b> and the feedback therein.
<br><br>
{% with var = meeting %}
    {% include "form_details.html" %}
{% endwith %}

<br><br>
<p>(1) "#BR" represents the total number of "nothing to add" responses on the feedback form.</p>
<p>(2) "#Likes" represents the total number of upvotes a comment received.</p>
<p>(3) "#FB" represents the total number of comments a form received.</p>

<p>Regards,</p>
<p>The <code>Pestoform</code> admin</p>
