        <h3>or, </h3>
        <h2> Be a beta tester </h2>
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 text-center">
                    <br>Email us at <a href="mailto:hello@pestoform.com">hello@pestoform.com</a>
                </div>
        {# <form class='form-inline'  action='/get_test_code' method="post" name="post" enctype="multipart/form-data" >
            <div> If you don't have a test code and would like to be a beta tester, let us know!</div><br>
            <div class="form-group">
                {{ g.wantbeta_form.email(id="email", maxlength="100", class="form-control", placeholder="Email (required)") }}
            </div>
            <button type="submit" class="btn btn-sm btn-primary" value="save">Proceed</button>
            {{ g.wantbeta_form.hidden_tag() }}
            {% include "accept_tos.html" %}
        </form> #}
