<h3>Frequently Asked Questions:</h3>
<br>

<a href="#website_about" data-toggle="collapse"><h4>What is this website about?</h4></a>
<div id="website_about" class="collapse indent">
    <div>
        Pestoform is an easy way to collect anonymous feedback, ranked by "upvotes" or "likes". We see its primary application in the higher education/high school level: the instructor can gather feedback from the learners, and the learners benefit from the process of providing feedback.
    </div>
    <br>
</div>

<a href="#website_ready" data-toggle="collapse"><h4>When can I use this website?</h4></a>
<div id="website_ready" class="collapse indent">
    <div>
        Now. Go ahead and create a free account with your college/university email. If you don't have such an email and would like to use it, please email us at  <a href="mailto:hello@pestoform.com">hello@pestoform.com</a> with a brief comment about your intended use. We'll make a free account for you.
    </div>
    <br>
</div>

<a href="#indi_resp" data-toggle="collapse"><h4>Wouldn't it be better if those providing feedback can't see each others' comments?</h4></a>
<div id="indi_resp" class="collapse indent">
    <div>
        There are many webtools which allow you to collect individual feedback (e.g., Google Forms, SurveyMonkey,...). We designed our platform more as a discussion board/comment section. However,
        we'll introduce a feature restricting it to individual feedback, if there's enough demand.
    </div>
    <br>
</div>

<a href="#free_accnt" data-toggle="collapse"><h4>Who gets the free account?</h4></a>
<div id="free_accnt" class="collapse indent">
    <div>
        We are providing free account to all college/university-level professors and instructors. That will include graduate students/postdocs who want to use the website. Sign up with your college/university email, and it's free for you. Do write to us at <a href="mailto:hello@pestoform.com">hello@pestoform.com</a> if your email doesn't qualify for the free account.
    </div>
    <br>
</div>

<a href="#stud_accnt" data-toggle="collapse"><h4>Do students need accounts to respond?</h4></a>
<div id="stud_accnt" class="collapse indent">
    <div>
        No. Anyone with the form URL can respond as long as the form creator is accepting feedback. 
    </div>
    <br>
</div>

<a href="#send_link" data-toggle="collapse"><h4>Why doesn't Pestoform send the form URLs directly to the recipients?</h4></a>
<div id="send_link" class="collapse indent">
    <div>
        We do have an option of sharing form URL via email, straight from the user dashboard. However, we don't want to store list of email ids, at least for now. While it is somewhat inconvenient having to separately send the URL to your intended recipients, creating email groups beforehand may make the process simpler. 
    </div>
    <br>
</div>

<a href="#instr_ben" data-toggle="collapse"><h4>How do we instructors/professors benefit from using Pestoform?
</h4></a>
<div id="instr_ben" class="collapse indent">
    <div>
        In traditional after-class or in-class feedback gathering methods such as <em>minute paper</em> or <em>mud cards</em> help instructors discover students' knowledge gap, and addressing them promptly result in better learning. We expect the same to hold true for Pestoform, with the additional benefit of better organization and record keeping (no hassle of sifting through the student submission, or grouping them by the questions asked, and saving them for the next time you teach the subject) -- Pestoform does it for you, thus saving you time. Finally, students appreciate educators who listen to them and answer their questions. We expect that a practice of collecting feedback and acting on them would make better instructors and help students learn better. By allowing anonymous feedback, an instructor would likely hear from students who may shy away from speaking up in the class, thus making the classroom more inclusive.
    </div>
    <br>
</div>

<a href="#stud_ben" data-toggle="collapse"><h4>How do students benefit from using Pestoform?
</h4></a>
<div id="stud_ben" class="collapse indent">
    <div>
        Students benefit from providing feedback and getting their questions addressed, either directly in a followup interaction with the instructor, or through collaborative discussions with their classmates. The secondary benefit is from the metacognitive act of re-thinking what they learned in a particular class/session, as they try to provide feedback. We suspect that students ability to see their classmates' questions would have additional benefit of rememebering the topics they learned in the class. While many of these benefits are available from the traditional pen-and-paper feedback collection, moving the process online is expected to magnify the benefits as more instructors may implement it. In addition, the online counterpart is available even after the students leave the classroom, thus encouraging more thoughtful feedback. 
    </div>
    <br>
</div>

<a href="#ped_ben" data-toggle="collapse"><h4>Is there any known pedagogical benefit of using a platform like this?
</h4></a>
<div id="ped_ben" class="collapse indent">
    <div>
        Pen-and-paper feedback collection system such as <em>minute paper</em> and <em>mud cards</em> have been studied in detail in pedagogy literature[1-3], and there are known benefits, along the lines mentioned in the answers above (under "benefits to educators" and "benefits to students"). We are aware of some online implementation of these tools[4,5]. There are also other online platforms which allow student discussions. But we are not aware of pedagogical benefits of the online platform specifically. We are open to more research on this area.
    </div>
    <br>
</div>

<a href="#best_freq" data-toggle="collapse"><h4>How frequently should we ask for feedback?
</h4></a>
<div id="best_freq" class="collapse indent">
    <div>
        There's no known best practice so far (an extensive use of our platform may answer that question!). The golden rule is to address the student concerns promptly if you collected their feedback. We recommend using it once a week--two weeks to start with, and vary the frequency based on the response and your ease with the workflow.
    </div>
    <br>
</div>

<a href="#examples" data-toggle="collapse"><h4>Do you have examples for us?</h4></a>
<div id="examples" class="collapse indent">
    <div>
        Coming soon!
    </div>
    <br>
</div>

<a href="#mp_mc_sim" data-toggle="collapse"><h4>Is this similar to the minute-paper or mud(dy) cards?
</h4></a>
<div id="mp_mc_sim" class="collapse indent">
    <div>
        Yes. However, they are coducted in-class, and instructors go through each of them manually. Pestoform, as an online platform, is available always and is much better organized.
    </div>
    <br>
</div>

<a href="#mp_mc_lim" data-toggle="collapse"><h4>What are the limitations of minute-paper/mud cards, and by extension, Pestoform?</h4></a>
<div id="mp_mc_lim" class="collapse indent">
    <div>
        This is one more tool for educators, and is not likely applicable in all situations. For example, a frustrated learner may provide irrelevant comments. On the other hand, if students provide feedback and see no tangible action from the instructor, they may get frustrated. However, we believe that being aware of these pitfalls helps to extract maximum benefit from a platform such as Pestoform.
    </div>
    <br>
</div>

<a href="#ans_q" data-toggle="collapse"><h4>Why can't I answer student comments/questions right on the webpage?
</h4></a>
<div id="ans_q" class="collapse indent">
    <div>
        We'll introduce this feature if there's enough demand for it. We expect Pestoform to be a lightweight, instrctor-facing platform. If the instructors respond to student comments on Pestoform, we will need the students to be back to Pestoform more often and spend more time. The implications and pedagogical benefits of that are not clear to us yet. Let us know if you'd like to see this feature.
    </div>
    <br>
</div>


<a href="#suitable_disc" data-toggle="collapse"><h4>Is this tool suitable in my discipline?</h4></a>
<div id="suitable_disc" class="collapse indent">
    <div>
        We believe that this tool is discipline agnostic. Whenever a learner in any discipline is thinking about the "craft", both the learner and the instructor can benefit from the articulated thoughts.
    </div>
    <br>
</div>


<a href="#next_level" data-toggle="collapse"><h4>I have gathered a bunch of feedback. What next?
</h4></a>
<div id="next_level" class="collapse indent">
    <div>
        Does it make sense to realign your course content or content presentation to preemptively address some of these points? Have you tried a more collaborative/discusion-based classroom, by letting students answer one another's questions? A shameless plug from Pestoform: Have you considered reaching out to your colleagues about how awesome this tool is?
    </div>
    <br>
</div>

<a href="#form_privacy" data-toggle="collapse"><h4>Are these webforms private? Who could see them?</h4></a>
<div id="form_privacy" class="collapse indent">
    <div>
        This webforms are not private -- anyone with the URL can visit the form, and see the content if the form creator keeps it available. On the other hand, we don't expect internet search engine spiders to find them easily -- so these forms are reasonably obscure from those who didn't get the URL directly from someone. Remember, a student you send this URL can in turn share it with others by email or on social media.
    </div>
    <br>
</div>

<a href="#mult_ans" data-toggle="collapse"><h4>How do we know if the same person is not answering multiple times?</h4></a>
<div id="mult_ans" class="collapse indent">
    <div>
        We don't, since the feedback providers need no account, and we are not tracking our feedback providers (say, by placing special cookies in their devices). More importantly, it may be acceptable to have a student comment multiple times. We may introduce an option where the students have to affirm that they are following a good-faith honor code of providing only one comment, should the instructor enable that feature (once available).
    </div>
    <br>
</div>

<a href="#sample_q" data-toggle="collapse"><h4>What kind of questions should I ask?</h4></a>
<div id="sample_q" class="collapse indent">
    <div>
        The best questions are open-ended, such as: (a) What was the most difficult point in today's class? (b) What topic today did you find most interesting? etc. Be sure to ask only ONE question per form!
    </div>
    <br>
</div>

<a href="#use_fb" data-toggle="collapse"><h4>What is the best way to respond to the feedback I got?</h4></a>
<div id="use_fb" class="collapse indent">
    <div>
        There is no one best way. We would recommend trying out multiple ways to respond -- such as one email with all the answers to everyone, or a quick recap in the beginning of the next class. It is certainly possible to use the feedback to start a conversation among students where they try to answer their own questions. We expect a variety of methods to respond may be a better strategy, as you figure out what works best for you and your students.
    </div>
    <br>
</div>

<a href="#use_data" data-toggle="collapse"><h4>I want to publish a paper with the data from my feedback form. What's the best way to go about it?</h4></a>
<div id="use_data" class="collapse indent">
    <div>
        Design an experiment (which may involve performing an A/B test with different sections of your student). Check with your institutional review board for their policies on experiments involving human subjects. Perform your experiments, and publish! While it's not a must -- we would like to know of the experiment and appreciate being referenced. Also, we'd like to know that your experiment is IRB approved!
    </div>
    <br>
</div>

<a href="#refs" data-toggle="collapse"><h4>I want to find more references on the usefulness of student feedback, minute-paper, mud cards etc. </h4></a>
<div id="refs" class="collapse indent">
    <div>
        Coming soon!
    </div>
    <br>
</div>

<a href="#why_free" data-toggle="collapse"><h4>How is this service free for me?</h4></a>
<div id="why_free" class="collapse indent">
    <div>
        First of all we would like to see if this is a good platform, helping educators and students alike. If we succeed in achieveing that raison d'être, we hope to make enough money to sustain the platform.
    </div>
    <br>
</div>

<a href="#mult_ans" data-toggle="collapse"><h4></h4></a>
<div id="mult_ans" class="collapse indent">
    <div>
    </div>
    <br>
</div>

<a href="#mult_ans" data-toggle="collapse"><h4></h4></a>
<div id="mult_ans" class="collapse indent">
    <div>
    </div>
    <br>
</div>

<a href="#mult_ans" data-toggle="collapse"><h4></h4></a>
<div id="mult_ans" class="collapse indent">
    <div>
    </div>
    <br>
</div>

