<h2>Frequently Asked Questions:</h2>
<br>
<div>
    <h3>Questions about Pestoform features</h3>
</div>
<br>
<a href="#website_about" data-toggle="collapse"><h4>What is this website about?</h4></a>
<div id="website_about" class="collapse indent">
    <div>
        <code>{{ config.WSNAME }}</code> is an easy way to collect anonymous feedback, ranked by "upvotes" or "likes". We see its primary application in the higher education/high school level: the instructor can gather feedback from the learners, and the learners benefit from the process of providing feedback.
    </div>
    <br>
</div>

<a href="#website_ready" data-toggle="collapse"><h4>Is this website ready?</h4></a>
<div id="website_ready" class="collapse indent">
    <div>
        We are in beta, and you are welcome to start using it. Go ahead and create a free account with your college/university email id. If you don't have such an email and would like to use <code>{{ config.WSNAME }}</code>, please email us at  <a href="mailto:hello@pestoform.com">hello@pestoform.com</a> with a brief comment about your intended use. We'll make a free account for you.
    </div>
    <br>
</div>

<a href="#indi_resp" data-toggle="collapse"><h4>Wouldn't it be better if someone providing feedback can't see others' comments?</h4></a>
<div id="indi_resp" class="collapse indent">
    <div>
        There are many webtools which allow you to collect individual feedback (e.g., Google Forms, SurveyMonkey,...). We designed our platform after discussion boards or the social-media comment sections. However, we'll introduce the individual-feedback feature if there's enough demand.
    </div>
    <br>
</div>

<a href="#free_accnt" data-toggle="collapse"><h4>Who gets the free account?</h4></a>
<div id="free_accnt" class="collapse indent">
    <div>
        We are providing free account to all college/university-level professors and instructors. This includes graduate students/postdocs who want to use the website. Sign up with your college/university email, and it's free for you. Do write to us at <a href="mailto:hello@pestoform.com">hello@pestoform.com</a> if your email doesn't qualify for the free account.
    </div>
    <br>
</div>

<a href="#stud_accnt" data-toggle="collapse"><h4>Does one need an account to provide feedback?</h4></a>
<div id="stud_accnt" class="collapse indent">
    <div>
        No. Anyone with the form URL can respond as long as the form creator is accepting feedback. 
    </div>
    <br>
</div>

<a href="#send_link" data-toggle="collapse"><h4>Why doesn't Pestoform send the form URLs directly to the recipients?</h4></a>
<div id="send_link" class="collapse indent">
    <div>
        We do have an option of sharing the form URLs via email, straight from the user dashboard. However, we don't want to store list of email ids, at least for now. While it is somewhat inconvenient having to separately send the URL to your intended recipients, creating email groups beforehand may make the process simpler. 
    </div>
    <br>
</div>

<a href="#ans_q" data-toggle="collapse"><h4>Why is it not possible to respond to comments/questions directly on the webpage?
</h4></a>
<div id="ans_q" class="collapse indent">
    <div>
        &bull; We expect <code>{{ config.WSNAME }}</code> to be a lightweight platofrm designed primarily for the instructors. If the instructors respond to student comments on Pestoform, we will need the students to visit Pestoform frequently and spend more time here. The implications and pedagogical benefits of promoting such habits are not clear to us yet.<br>
        &bull; As of now we don't require feedback providers to create accounts. If there are responses to feedback comments, we need the feedback providers to have accounts so they can access those responses at a later date. This account creation may be an extra barrier to providing feedback.
        <br><br>
        However, we'll introduce this feature if there's enough demand for it. Let us know if you'd like to see this feature.<br>
    </div>
    <br>
</div>

<a href="#mult_ans" data-toggle="collapse"><h4>How do we know if the same person is not answering multiple times?</h4></a>
<div id="mult_ans" class="collapse indent">
    <div>
        We don't, since the feedback providers need no account, and we are against tracking our feedback providers (say, by placing special cookies in their devices). More importantly, it may be acceptable to have a student comment multiple times. We may introduce an option where the students have to affirm that they are following a good-faith honor code and commenting only once, should the instructor enable that feature (once available).
    </div>
    <br>
</div>


<!-- =========================================== -->
<hr>

<div>
    <h3>Using Pestoform effectively</h3>
</div>
<br>

<a href="#best_freq" data-toggle="collapse"><h4>How frequently should one ask for feedback?
</h4></a>
<div id="best_freq" class="collapse indent">
    <div>
        There's no set recipe. An extensive use of our platform may answer that question. <i class="fa fa-smile-o" aria-hidden="true"></i> The golden rule is to address the student concerns promptly if you collected their feedback (e.g., by answering their questions over email or when you meet again). {# We recommend using it once a week to once every two weeks in the beginning, and vary the frequency based on the response and your ease with the workflow. #}
    </div>
    <br>
</div>

<a href="#examples" data-toggle="collapse"><h4>Are there examples?</h4></a>
<div id="examples" class="collapse indent">
    <div>
        Coming soon!
    </div>
    <br>
</div>

<a href="#suitable_disc" data-toggle="collapse"><h4>Is this tool suitable for any discipline?</h4></a>
<div id="suitable_disc" class="collapse indent">
    <div>
        We believe that <code>{{ config.WSNAME }}</code> is discipline-agnostic. Whenever a learner in any discipline is thinking about the "craft", both the learner and the instructor could benefit from the articulated thoughts.
    </div>
    <br>
</div>

<a href="#sample_q" data-toggle="collapse"><h4>What kind of questions should I ask?</h4></a>
<div id="sample_q" class="collapse indent">
    <div>
        The best questions are open-ended, such as:<br>
        &bull; <b>What was the most difficult point in today's class?</b><br>
        &bull; <b>What topic today did you find most interesting?</b><br>
        
        Be sure to ask only ONE question per form. Also, write to us if you have good examples to share.
    </div>
    <br>
</div>

<a href="#use_fb" data-toggle="collapse"><h4>What is the best way to respond to the feedback?</h4></a>
<div id="use_fb" class="collapse indent">
    <div>
        There is no one best way. We would recommend trying out multiple ways to respond, e.g., you might consider:<br>
        &bull; emailing your feedback proverders with all the answers,<br>
        &bull; a quick recap in the beginning of the next class/session if you have followup meetings,<br>
        &bull; have students discuss the feedback with or without supervision<br><br>
        We expect a better strategy is to respond in a variety of ways, as you figure out what works best for you and the feedback providers.
    </div>
    <br>
</div>

<a href="#next_level" data-toggle="collapse"><h4>What to do with all the feedback?
</h4></a>
<div id="next_level" class="collapse indent">
    <div>
        &bull; Address the questions/concerns in the feedback sooner rather than later.<br>
        &bull; Consider aligning your course content or content presentation to preemptively address any recurring theme in the feedback.<br>
        &bull; Try organizing discusions in the classroom, by letting students answer one another's questions.<br>
        &bull; Play with the frequency and the nature of the questions you ask: is there any pattern that encourages/discourages student response? If so, please let us know and we'll discuss the best way to share such findings with the broader educator community.<br>
        &bull; Consider reaching out to your colleagues about how awesome <code>{{ config.WSNAME }}</code> is! <i class="fa fa-smile-o" aria-hidden="true"></i>  
    </div>
    <br>
</div>

<!-- =========================================== -->
<hr>

<div>
    <h3>Evidence-based teaching, pedagogy, etc.</h3>
</div>
<br>


<a href="#mp_mc_sim" data-toggle="collapse"><h4>Is the idea behind Pestoform similar to that of minute-paper or mud(dy) cards?
</h4></a>
<div id="mp_mc_sim" class="collapse indent">
    <div>
        Yes. However, the above teaching tools are traditionally pen-and-paper based, and are used in-class. <code>{{ config.WSNAME }}</code>, as an online platform, allows students to respond on their own time, allows viewing comments made by others and up-voting, and provides the educator with an organized electronic record of student feedback.
    </div>
    <br>
</div>


<a href="#instr_stu_ben" data-toggle="collapse"><h4>How do educators and learners benefit from using Pestoform?
</h4></a>
<div id="instr_stu_ben" class="collapse indent">
    <div>
        <code>{{ config.WSNAME }}</code> is an online rendition of pen-and-paper feedback gathering methods such as the <em>minute paper</em> or the <em>mud cards</em>. These teaching tools are well-loved but niche, with proven pedagogical benefits. We expect to see similar benefits from <code>{{ config.WSNAME }}</code>:<br><br>
        &bull; Frequent feedback collection helps instructors discover students' knowledge gaps<br>
        &bull; Addressing student feedback promptly reduces cognitive overload for the students, and motivates them to learn<br>
        &bull; The exercise of articulating thoughts on a topic is beneficial for the learner<br>
        &bull; Thinking about a newly encountered topic helps in long-term learning, benefiting the learner,<br>
        &bull; The opportunity of providing anonymous feedback encourages more students to speak up, resulting in a more inclusive classroom.
        <br><br>
        
        IN ADDITION to the points above, because <code>{{ config.WSNAME }}</code> is <b>online</b>, <br>
        &bull; You (the instructor) save time as the forms and the feedback are organized well: No hassle of sifting through student paper submissions, grouping similar comments, or keeping notes elsewhere<br>
        &bull; You don't have to collect feedback during the class, thus giving you more time in the class, and allowing students more time to think about the class or go through the notes before providing feedback.<br><br>
        
        Students appreciate educators who listen to their learning needs. We expect that a robust feedback loop connecting the learner and the educator will improve teaching and learning.
    </div>
    <br>
</div>


<a href="#ped_ben" data-toggle="collapse"><h4>Are there pedagogical benefits of using a platform like Pestoform?
</h4></a>
<div id="ped_ben" class="collapse indent">
    <div>
        Pen-and-paper feedback collection systems such as the <em>minute paper</em> and the <em>mud cards</em> have been studied in detail in pedagogy literature<a href="#ref-1-1">[1.1-1.3]</a>, and there are known benefits (mentioned in the answers above -- see "benefits to educators and learners"). There are a few instances of online implementation of similar tools<a href="#ref-2-1">[2.1, 2.2]</a>, as well as other online platforms similar in effect. But we don't know of pedagogical benefits of the online aspect specifically. We are open to more research in this area. Also, do let us know if you find any relevant research literature.
    </div>
    <br>
</div>

<a href="#mp_mc_lim" data-toggle="collapse"><h4>What are the limitations of minute-paper/mud cards, and by extension, Pestoform?</h4></a>
<div id="mp_mc_lim" class="collapse indent">
    <div>
         <code>{{ config.WSNAME }}</code> is yet another tool for educators, and is not likely applicable in all situations. For example, a frustrated learner may provide irrelevant/rude comments. On the other hand, if students provide feedback and see no tangible action from the instructor, they may get frustrated. However, we believe that being aware of these pitfalls would help the educators extract maximum benefit from <code>{{ config.WSNAME }}</code>.
    </div>
    <br>
</div>


<a href="#use_data" data-toggle="collapse"><h4>What's the protocol for experiments using Pestoform?</h4></a>
<div id="use_data" class="collapse indent">
    <div>
        Email us at <a href="mailto:hello@pestoform.com">hello@pestoform.com</a> if you need specific help. The general picture is as follows:<br><br>
        &bull; Design an experiment (think of questions you are trying to answer, and what experimental methods might lead you to the answer, e.g., an A/B test with subjects divided in two groups).<br>
        &bull; Check with your institutional review board (IRB) for their policies on experiments involving human subjects. Most experiments with this tool will qualify for IRB-exempt status. If you don't have an IRB in your institution, or are unsure what this means, do talk to us. Remember, not doing any harm is the top priority. (Also, check out the terms of using <code>{{ config.WSNAME }}</code> for this purposes).<br>
        &bull; Perform your experiments, collect data and analyze, and publish!<br>
        &bull; Do let us know of the experiment, and we would appreciate being cited or referenced.<br>
    </div>
    <br>
</div>

<!-- =========================================== -->
<hr>

<div>
    <h3>Other concerns</h3>
</div>
<br>


<a href="#form_privacy" data-toggle="collapse"><h4>Are these webforms private? Who can see them?</h4></a>
<div id="form_privacy" class="collapse indent">
    <div>
        This webforms are not private -- anyone with the URL can visit the form, and see the content if the form creator keeps it available.* On the other hand, we don't expect internet search engine spiders to find them easily -- so these forms are reasonably obscure from those who didn't get the URL directly from someone. Remember, someone who got the URL from you can in turn share it with others by email or on social media.
        <p>* It's super easy to stop or resume accepting feedback anytime.</p>
    </div>
    <br>
</div>

<a href="#why_free" data-toggle="collapse"><h4>Is there a catch for this free service?</h4></a>
<div id="why_free" class="collapse indent">
    <div>
        No. First of all we would like to see if this platform delivers the promised benefits. If we succeed in achieveing that raison d'être, we hope to make enough money eventually to sustain the platform, while handling data and personal information ethically and responsibly.
    </div>
    <br>
</div>


<!-- =========================================== -->
<hr>

<div>
    <h3>References</h3>
</div>
<br>

<div>
    <h4>1. Publications on the pedagogy of mud cards/minute paper:</h4>
</div>

<div id="ref-1-1">[1.1] <a href="https://bokcenter.harvard.edu/files/bokcenter/files/otl3-mosteller-muddiest.pdf" target="_blank">The "Muddiest Point in the Lecture" as a Feedback Device</a> <em>by</em> Frederick Mosteller, The Journal of the Harvard-Danforth Center (1989), pages 10-21 <br>
</div>

<div id="ref-1-2">[1.2] An excerpt of <a href="http://serc.carleton.edu/files/NAGTWorkshops/assess/activities/minpapercat.pdf" target="_blank">Minute Paper</a>, originally <em>by</em> Thomas A. Angelo and K. Patricia Cross, Classroom Assessment Techniques: a Handbook for College Teachers, (second edition), pages 148-153 <br>
</div>


<div id="ref-1-3">[1.3] <a href="http://www.cdio.org/files/activeleraningadopt.pdf" target="_blank"> Adoption of Active Learning in a Lecture-Based Engineering Class</a><em> by </em>Steven R. Hall <em>et al.</em>, 32nd ASEE/IEEE Frontiers in Education Conference, T2A-9-15 <br>
</div>

<br>
<div>
    <h4>2. Other online implementations:</h4>
</div>

<div id="ref-2-1">[2.1] <a href="http://web.mit.edu/16.070/www/mud.html" target="_blank"> Online implementation at MIT,</a> discussed in <a href="#ref-1-3">[1.3]</a><br>
</div>

<div id="ref-2-2">[2.2] <a href="https://docs.google.com/forms/d/e/1FAIpQLSc_G6Ma5JFLTr-QqE8baaVdfQXRj_vsMONqEOfE2zkZOhVWhA/viewform" target="_blank"> An example of using Google forms for individual feedback collection at Univeristy of Toronto</a><br>
</div>

<br>
<div>
    <h4>3. Various ways to respond:</h4>
</div>


<div id="ref-3-1">[3.1] <a href="http://web.mit.edu/16.070/www/mudanswers2003.html" target="_blank"> The webpage with the answers</a> for the online implementation in Ref. <a href="#ref-2-1">[2.1]</a><br>
</div>

<div id="ref-3-2">[3.2] <a href="https://courses.engr.illinois.edu/ece110/fa2017/content/MuddyPoints/" target="_blank"> Writing answers on the submitted forms (from UIUC)</a><br>
</div>

<br>
<div>
    <h4>4. Other implementation suggestions (Mud cards/Minute paper, in general):</h4>
</div>

<div id="ref-4-1">[4.1] <a href="https://serc.carleton.edu/introgeo/interactive/oneminwrite.html" target="_blank"> Implementation suggestions from Carleton College</a><br>
</div>

<div id="ref-4-2">[4.2] <a href="http://pandora.cii.wwu.edu/cii/resources/modules/muddiestpoint/" target="_blank"> Implementation suggestions from Western Washington University</a><br>
</div>


<!-- =========================================== -->
<div class="divider-10"></div>