        <h2>Get a free educator account</h2>
        <form class='form-inline'  action='/free_acad_accnt' method="post" name="post" enctype="multipart/form-data" >
            <div> Use your college/university email id for a free account</div><br>
            <div class="form-group">
                {{ g.email_form.email(id="email", maxlength="100", class="form-control", placeholder="Email (required)") }}
            </div>
            <button type="submit" class="btn btn-sm btn-primary" value="save">Proceed</button>
            {{ g.email_form.hidden_tag() }}
            {#{% include "accept_tos.html" %}#}
        </form>
