<!DOCTYPE html>
<html lang="en">
{% include "html_header.html" %}

<body id="page-top">
    <!-- <nav bar> -->
    {% include "nav.html" %}

    <!-- <header class="bg-primary"> -->
    <header>
        <div class="header-content">
                <div class="header-content-inner">
                    <h1 id="homeHeading">Anonymous feedback made easy</h1>
                    <hr>
                    <h3>A no-fuss way to teach better, using student feedback</h3><h3>Fast. Free. Clean.</h3>
                    {# <a href="{{ url_for('new_form') }}" class="btn btn-primary btn-xl">Create a new form</a> #}
                    <a href="#about" class="btn btn-default btn-xl page-scroll">Find out more</a><br>
                    <!-- <div><h4>Find out what your students don't know.</h4><h4>Address their questions.</h4><h4>Teach smart!</h4></div> -->
                </div>
         </div>
    </header>

    <section class="bg-dark" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Create a form, share, get feedback!</h2>
                    <hr class="light">
                    <div class="text-faded"> <h3>How Pestoform helps better teaching and learning</h3>
                        <div>Find out where your students get stuck &bull;
                            Motivate students to learn more by addressing their feedback &bull;
                            Be more inclusive by inviting anonymous feedback &bull;
                            Encourage meta-cognitive learning practices*
                        </div><br>
                        <div>Pestoform is simple, well-organized, and free for educators
                            <hr class="light">
                            <p>*Students learn better when they revisit a newly acquainted topic. The process of providing feedback and the followup discussions allow them to revise what they learned. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="works">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it works</h2>
                    <hr class="primary">
                    <h2><a href="{{ url_for('register_beta') }}" target="_blank">Create an account first <i class="fa fa-external-link text-primary sr-icons"></i></a></h2>
                    <h3>Then,</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-file-text text-primary sr-icons"></i>
                        <h3>Step 1: Create a new form</h3>
                        <p class="text-muted">Ask a question.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-share-alt text-primary sr-icons"></i>
                        <h3>Step 2: Share your form</h3>
                        <p class="text-muted">Share the weblink via email or social media.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-users text-primary sr-icons"></i>
                        <h3>Step 3: Get feedback</h3>
                        <p class="text-muted">Respondents can comment and/or upvote comments.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-repeat text-primary sr-icons"></i>
                        <h3>Step 4: Rinse and repeat</h3>
                        <p class="text-muted">Create more forms. Organize them into folders. Download your feedback.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <aside class="bg-dark">
        <div class="container text-center">
            <!-- <div class="call-to-action"> -->
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                <h2>Quick tutorial on how to use Pestoform</h2>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLweKQbqU4S37-yTNcCyVVZ-joGua5Wz15" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </aside>

    
    <section id="login">
        <div class="container">
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>
    </section>
    
    {#<section class="no-padding" id="examples">
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h4>We understand if you are still not sure about registering for a free account.</h4>
                <h4>If you just want to give it a try, go ahead create a form (and share, and get feedback).</h4>
                <div>Without an account you won't be able to access your form again for editing. But you'll see the most important features of Pestoform!</div><br>
                <a href="{{ url_for('new_form') }}" class="btn btn-default btn-xl sr-button">Create a new form</a>
            </div>
        </div>
    </aside>
    </section>#}
    
    <section id="contact">
    <aside class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="light">
                    <p> We'd love to hear back from you!</p>
                </div>
            </div>
        </div>
    </aside>
    <!-- </section>
    <section id="contact"> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 text-center">
                    <br>
                    <a href="mailto:hello@pestoform.com">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <h3>hello@pestoform.com</h3>
                        </a>
                    <div class="divider-5"></div>
                    <h3><a href="/stuff#faq">FAQ</a> | <a href="{{ url_for('stuff') }}#tos">Terms</a></h3>
                    <p>&copy; 2017 Pestoform.com</p>
                </div>
                <div class="divider-10"></div>
            </div>
        </div>
    </section>
</body>

</html>
