<div class="form-group">
    <div class='input-group date' id='datetimepicker-{{ var.id }}'>
        <input name="live_till" type='text' class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar">
            </span>
        </span>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker-{{ var.id }}').datetimepicker({
                format: 'YYYY/MM/DD hh:mm a ZZ',
                defaultDate: moment("{{ var.live_till.strftime('%Y-%m-%dT%H:%M:%S Z') }}")
            });
        });
    </script>
</div>