<!-- extend base layout -->
{% extends "anon_base.html" %}
{% block content %}
<br><br>
{% if meeting.close_stat == 2 %}
<div class="divider-5"></div>
<h3>The response on this form is no longer visible</h3>
{% else%}
{# <h3 style="font-size:110%; color:#444444">Feedback request: {{ meeting.title }}</h3> #}
<h3>Feedback request: <b>{{ meeting.title }}</b></h3>
{% if meeting.prompt %}
{# <h4 style="font-size:100%; color:#666666">{{ meeting.prompt }}</h4> #}
<p style="font-size:130%; color:#666666"><b>{{ meeting.prompt }}</b></p>
{% endif %}

{% if muddies.count() == 0 %}
<p style="font-size:120%; color:#10a08a"><b>This form has no comment yet. Be the first one to post a comment!</b></p>
{% else %}
<p style="font-size:70%; color:#666666">Comments on the form appear below:</p>
{% endif %}

{% for item in muddies %}
        <div class="panel-custom">
            {{ item.body }}<br>
            <span id="votecount{{ item.id }}" style="font-size:80%; color:#777777">{{ item.like_count }}</span>
            {% if meeting.close_stat == 0 %}
            <span id='uvote{{ item.id }}'>
                <a href="javascript:vote('{{ item.id }}', '+1', '#votecount{{ item.id }}', '#uvote{{ item.id }}', '#dvote{{ item.id }}','#loading{{ item.id }}');"><button id='vote{{ item.id }}' class="btn btn-xs btn-primary"><span><i class="fa fa-angle-up" aria-hidden="true"></i></span></button></a>
            </span>
            <span id='dvote{{ item.id }}'>
                <a href="javascript:vote('{{ item.id }}', '-1', '#votecount{{ item.id }}','#dvote{{ item.id }}', '#uvote{{ item.id }}','#loading{{ item.id }}');"><button id='vote{{ item.id }}' class="btn btn-xs btn-default"><span><i class="fa fa-angle-down" aria-hidden="true"></i></span></button></a>
            </span>
                &bull;
            <span style="font-size:80%; color:#777777">{{ momentjs(item.timestamp.strftime("%Y-%m-%dT%H:%M:%S Z")).format("MMM Do 'YY, hh:mm a") }}</span>
                {% if item.id == session['editable_mud'] %}
                {% with var = item, comment = item.body %}
                &bull; 
                <button class="btn btn-xs btn-default" aria-label="delete-muddy-modal" data-toggle="modal" data-target="#delete-muddy-modal-{{ item.id }}">
                <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                </button>
                &bull; 
                <button class="btn btn-xs btn-default" aria-label="edit-muddy-modal" data-toggle="modal" data-target="#edit-muddy-modal-{{ item.id }}">
                <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                </button>
                {% include 'delete_muddy_modal.html' %}
                {% include 'edit_muddy_modal.html' %}
                {% endwith %}
                {% endif %}
            {% endif %}
        </div>
    
<script>
    $(function(){
    $("#dvote{{ item.id }}").hide();
});
</script>
{% endfor %}

{# 
<div class="container-fluid">
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">  #}
<div class="form-group">
<form class="form" action="/muddies" method="post" role="form" enctype="multipart/form-data">

{% if meeting.close_stat == 0 %}
        {{ g.muddy_form.meeting_id(type = 'hidden',value=meeting.id) }}
{# <div class="container">
    <div class="row">
    <!-- <div class="col-lg-8 col-lg-offset-2"> -->
    <div class="col-lg-8"> #}
    <span class="form-control-static pull-right"><div style="font-size:90%; color:#777777" id="count_message"></div></span>
    {{ g.muddy_form.body(id="text", maxlength="700", rows=6, class="form-control", placeholder="Type your comment here") }}
        <div class="btn-group btn-group-sm pull-right">
            <button type="submit" class="btn btn-primary" value="save">Post comment</button>
            {{ g.muddy_form.hidden_tag() }}
        </div>

        {% include "accept_tos.html" %}
{#    </div>
    </div>
    </div> #}
{% endif %}
</form>
</div>
{#</div>
</div>

<div class="container-fluid">
<!-- <div class="col-lg-8 col-lg-offset-2"> -->
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> #}
    <h3>Get a copy of this form and the comments via email</h3>
    <p>We'll send a copy of the record now, and later as appropriate (e.g., when the form owner decides to stop comments on the
        form, or chooses to delete this form).</p>
<form action="/email_submit" id="emailForm">
    {{ g.email_form.email(maxlength="100", placeholder="Email (required)") }}
    {{ g.email_form.hidden_tag() }}
    <button class="btn btn-sm btn-primary">send</button>
</form>
<span id="result" style="color:blue;"></span>
{# </div>
</div> #}
<div class="divider-5"></div>

<script>
// Attach a submit handler to the form
$( "#emailForm" ).submit(function( event ) {
 
    // Stop form from submitting normally
  event.preventDefault();
 
  // Get some values from elements on the page:
  var $form = $( this ),
    term = $form.find( "input[name='email']" ).val(),
    //term = $('form').serialize(),
    url = $form.attr( "action" );
 
  // Send the data using post
  var posting = $.post( url, { s: term } );
 
  // Put the results in a div
  posting.done(function( data ) {
  //$("#result").html(JSON.stringify(data.data.message));
  $("#result").html(data.data.message);

  alert(data.data.message);
  //Show in console.log
  console.log(data);
  });
      
});
</script>



<script>
function vote(itemId, vStat, targetId, sourceId, destId, loadingId) {
    $(loadingId).show();
    $(sourceId).hide();
    $(destId).show();
    $.post('/vote', {
        vStat: vStat,
        itemId: itemId
    }).done(function(voted) {
        $(targetId).html(voted.data.like);
    }).fail(function() {
        $(sourceId).text("{{ _('Error: Could not contact server.') }}");
        $(loadingId).hide();
    });
}
</script>

<script>
    var text_max = 700;
$('#count_message').html(text_max + ' ');

$('#text').keyup(function() {
  var text_length = $('#text').val().length;
  var text_remaining = text_max - text_length;
  
  $('#count_message').html(text_remaining + ' ');
});
    
</script>
{% endif %}
{% endblock %}
