<h3>Terms:</h3>
<em>Last modified: August 30, 2017</em>
<hr>

<h4>Terminology</h4>

<p>In this document "we" refer to the owners/operators of the "website", <code>{{ config.WSNAME }}</code>. The term "user-generated content (UGC)" refers to the forms users create, as well as the comments and votes from posters.</p>

<h4>Age restriction</h4>

<p>You have to be over 14 years of age to use this website.</p>

<h4>Data collection and usage/cookie usage</h4>

<p>If you have an account in <code>{{ config.WSNAME }}</code> or expressed interest via webforms or direct emails, we have your email id, which we store securely and use to communicate with you and organize your UGC. We also use information from you browser to personalize your experience (such as providing you content in your local timezone) -- however we don't make an attempt to retain the latter type of information. We do not sell our users' email ids.</p>

<p>This website uses cookies (small text files) which enhances user experience, such as not having to log back on to the website when you revisit us.</p>

<hr>

<h4>Third party tools</h4>

<p>We do share website visit information with third party tools such as Google Analytics, which allow us to understand aggregrate trends of the website usage. We are ad-free so far, and don't intend to track our users.</p>

<hr>

<h4>Ownership of UGC</h4>

<p>You own your data (such as the form structure, if you created the form, comments/votes in a form if you are the anonymous commenter, etc.). For <code>{{ config.WSNAME }}</code> to operate and provide this service, you license the website the right to publish and process the data and use/sublicense for any purpose.</p>

<p>IN RETURN, <code>{{ config.WSNAME }}</code> confers you the right to use, share and publish the data in the form(s) you created/commented/voted, for any purpose.</p>

<p>As such, short phrases are not subject to copyright (we don't know if haikus are included!).</p>

<p>If you are the copyright owner of materials that you think have been shared without your consent, please email <code>admin@pestoform.com</code> and we will take action.</p>

<hr>

<h4>Acceptable terms of use</h4>

<p>(1) BNBR: Be Nice, Be Respectful. (2) Do NOT use <code>{{ config.WSNAME }}</code> for any offensive /violent/illegal purposes (including spamming or violating others' copyrights). (3) If you are the creator of the form and find comments in violation of the community rules (see the point above), please delete the comment(s) and if deemed necessary, the entire form. (4) Please refrain from sharing any personally identifiable data (e.g., phone number, email id, address etc.) of anyone including your own, as anyone with access to the weblink may get access to such data. The form creator as well as <code>{{ config.WSNAME }}</code> retain the right to delete such posts when brought to notice.</p>

<h4>Liability</h4>

<p>The use of <code>{{ config.WSNAME }}</code> comes with no warranty, AS-IS, and you affirm not to hold the website and its creators/operators from any damage that might arise from your use of its service.</p>

<hr>

<h4>TOS in plain English:</h4>
<p>To use the website, you affirm that you are
    <ul>
        <li>not posting copyrighted/offensive/violent/illegal materials</li>
        <li>voting/posting comments only once (honor code, if present)</li>
        <li>over 14 years of age</li>
        <li>not posting/re-posting any personally identifiable information</li>
        <li>licensing <code>{{ config.WSNAME }}</code>, the form creator, and other commenters the right to publish/process your post/form content in any format and medium for any purpose; and getting back a similar use license for the forms you create or comment on</li>
        <li>not going to hold <code>{{ config.WSNAME }}</code> liable for any damage that might result from your use of the website</li>
</ul>
<p>
    
<hr>


