{% extends "base.html" %}
{% set active_page = "menu2" %}

{% block content %}

<div class="container">
    <!-- <div class="row"> -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="pull-left">
                <a href="/view">All forms</a>
                <span style="padding-left:5px"></span>&raquo;<span style="padding-left:10px"></span>
                {{ course.title }}
                {% include "select_folder.html" %}
            </div>
            <div class="pull-right">
                {% with var = course %}
                {% include 'course_options.html' %}
                {% endwith %}
            </div>
    </div>
    
<br><br>
<div class="col-md-12 col-sm-12 col-xs-12">
        {% if course.meetings.count() > 0 %}
              {% with meetings_var = course_meetings %}
                {% include "meeting_table_view.html" %}
              {% endwith %}
        {% else %}
            <h4>This folder is empty</h4>
        {% endif %}
</div>
</div>

{% endblock %}
